#bg{
margin: auto !important;
z-index: 2;
width: 100%;
height: auto;
background-position: center;
margin-top: -10px !important;
margin-bottom: -10px !important;

}


ion-content {
  background-color: black;
}

h3 {
  text-align: center;
}


